.ant-statistic-title{
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin-top: 31px;
}
.ant-statistic-content{
    color: #1756c2;
    font-weight: 500;
}
.ant-card{
    min-height: 310px;
}